<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="certfile" value="client.pfx"/>
    <add key="password" value=""/>
    <add key="listenerport" value="8433"/>
    <add key="certServerHost" value="localhost"/>
    <add key="certServerName" value="localhost"/>
  </appSettings>
</configuration>
